<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <title>CINEMA</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">CINEMA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/index}">Главная</a>
                <a class="nav-item nav-link" th:href="@{/sessions}">Расписание</a>
                <a class="nav-item nav-link" th:href="@{/films}">Кинотека</a>
                <a class="nav-item nav-link" th:href="@{/formAddUser}">Регистрация</a>
                <a class="nav-item nav-link" th:if="${userSession.name == 'Гость'}" th:href="@{/loginPage}">
                    <span th:text="${userSession.name}"></span>
                    <span> | Войти</span>
                </a>
                <a class="nav-item nav-link" th:if="${userSession.name != 'Гость'}" th:href="@{/logout}">
                    <span th:text="${userSession.name}"></span>
                    <span th:text="${userSession.email}"></span>
                    <span> | Выйти</span>
                </a>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="card" style="width: 100%">
            <div class="card-header">
                Покупка билета
            </div>
            <div class="card-body">
                <form th:action="@{/saveTicket/{id}(id=*{ses.getId()})}" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="0"/>
                    <div>
                        <label>Фильм</label>
                        <td th:text="${film.getName()}"/>
                    </div>

                    <div class="form-group">
                        <label>Жанр</label>
                        <td th:text="${film.getGenre()}"/>
                    </div>

                    <div class="form-group">
                        <label>Описание</label>
                        <td th:text="${film.getDescription()}"/>
                    </div>

                    <div class="form-group">
                        <label>Зал :</label>
                        <td th:text="${hall.getName()}"/>
                    </div>

                    <div class="form-group">
                        <label>Описание зала :</label>
                        <td th:text="${hall.getDescription()}"/>
                    </div>

                    <div class="form-group">
                        <label>Цена билета :</label>
                        <td th:text="${ses.getPrice()}"/>
                    </div>

                    <div class="form-group">
                        <label>Начало сеанса :</label>
                        <td th:text="${ses.getStartTime()}"/>
                    </div>

                    <div class="form-group">
                        <label>Конец сеанса :</label>
                        <td th:text="${ses.getEndTime()}"/>
                    </div>

                    <div class="form-group">
                        <label for="rowNumber">Выберите ряд</label>
                        <select class="form-control" id="rowNumber" name="rowNumber">
                            <option th:each="row:${rows}" th:value="${row}" th:text="${row}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="placeNumber">Выберите место</label>
                        <select class="form-control" id="placeNumber" name="placeNumber">
                            <option th:each="place:${places}" th:value="${place}" th:text="${place}"></option>
                        </select>
                    </div>
                    <span th:if="${userSession.name != 'Гость'}">
                            <button type="submit" class="btn btn-primary">Купить билет!</button>
                    </span>
                </form>

                <span th:if="${userSession.name == 'Гость'}">
                            <form th:action="@{/formAddUser}" method="GET" enctype="multipart/form-data">
                        <h4>Для покупки билета необходимо зарегистрироваться.</h4>
                    <button type="submit" class="btn btn-primary">Пройти регистрацию</button>
                            </form>
                    </span>

            </div>
        </div>
    </div>
</div>
</body>
</html>